@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Miguel's Test APP "Players and coaches".</p>
</div>
<div class="container">
    <br>
    <br>

    <br>
    <div class="row" style="padding-left: 5%;">
        <div class="col-sm" style="padding-left: 2%;">
            <h3>PROJECT DESCRIPTION:</h3>
            <p class="text-justify">
                Project developed using MVC, C# and ASP.NET Core. The web was developed with bootstrap and is web-responsive.
                Includes a non-relational database with create-edit-delete and user log-in functionalities. A log-in is needed
                in order to access the "transfers" section.
            </p>
        </div>
    </div>

    <br>

    <div class="row" style="padding-left: 5%;">

        <div class="col-sm" style="padding-left: 2%;">
            <img src="~/img/site/Modric.jpg" class="img-fluid">
        </div>
        <div class="col-sm" style="padding-left: 2%;">
            <img src="~/img/site/Zidane.jpeg" class="img-fluid mx-auto d-block">
        </div>
    </div>

</div>
